body {
	background-position: top;
	background-size: cover;
	color: #ffffff;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}
img.foreground {
	bottom: 0px;
	position: absolute;
	right: 0px;
	width: 200px;
}
.author {
	font-size: small;
	font-style: italic;
	text-align: right;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}
.button {
	align-items: center;
	background: var(--btn-color);
	border: 1px solid #ffffff;
	border-radius: 50px;
	display: flex;
	font-size: 30pt;
	height: 100px;
	justify-content: center;
	margin: 20px;
	position: relative;
	width: 100px;
}
.button:hover {
	transform: scale(1.2);
}
.button>img {
	height: 50px;
	width: 50px;
}
.buttons {
	align-content: start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 180px;
}
.clock {
	align-items: center;
	display: flex;
	font-size: 60pt;
	text-align: center;
	vertical-align: middle;
}
.container {
	align-items: center;
	backdrop-filter: blur(5px);
	background: linear-gradient(-15deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.25) 100%);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
.hintable:before {
	align-items: center;
	background: #ffff66;
	color: #000000;
	content: attr(data-hint);
	display: flex;
	font-size: 12pt;
	height: 20px;
	justify-content: center;
	left: -10px;
	position: absolute;
	top: -10px;
	width: 20px;
}
.logo {
	height: 50px;
	width: 50px;
}
.qotd {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.quote {
	font-size: large;
	margin: 20px;
	text-align: center;
	text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
